<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<META http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<div>
			<p><span>==============================<wbr>===</span></p>
			<p><span>To: {{ driver }} <br>Re: Your Here2Help deliveries for tomorrow</span></p>
			<p><span>==============================<wbr>===</span></p>
			<p><span></span></p>
			<p><span>Hi! </span></p>
			<p><span></span></p>
			<p><span>Thank you so much for volunteering to deliver food for Here2Help tomorrow! Your generosity is greatly appreciated.  We have just a few instructions: </span></p>
			<p><span></span></p>
			<p><span>IMPORTANT: NEW INFORMATION ABOUT CIRCUIT - PLEASE READ!!</span></p>
			<p><span>As you know, we are using a new system to manage deliveries called Circuit. Before making your deliveries tomorrow, please download the Circuit for Teams app and login. Circuit automatically created an account for you when I added your email address to the Here2Help team. You should&#39;ve received an email with login information. Once you log-in to Circuit, you should be able to see your route for tomorrow. Please let me know if you have any trouble with the app.<br></span></p>
			<p><span>IMPORTANT NOTE ABOUT CIRCUIT: </span><span>All routes in Circuit start at 4814 Falstone Avenue</span><span>. </span><span>THIS IS NOT WHERE YOUR ROUTES START. PLEASE START AT THE PICKUP LOCATION LISTED BELOW. For Sunday deliveries, you will still need to stop by 4814 Falstone avenue after picking up your other bags to pick-up produce, and you will continue on your route after that.</span></p>
			<p><span></span></p>
			<p><span>Other things you need to do:</span></p>
			<p><span></span></p>
			<p><span>1) Tonight if possible, please send an email to each recipient/family with the drop off day/window that works for you.   (On Sundays, we ask that drop-offs begin after 4pm, so that you can pick up fresh items from 4814 Falstone.)</span></p>
			<p><span></span></p>
			<p><span>Subject:    Here2Help Grocery Bag Drop-off - [include address]</span></p>
			<p><span></span></p>
			<p><span>We are so glad you signed up for a Here2Help grocery bag drop-off. To ensure the safety of all and observe proper pandemic precautions, we will simply drop off the groceries outside your door (at the address you used to register on-line and listed in the re: line above) between [insert your time range and date, e.g., 5:00 pm to 7:00 pm on Sunday].  If there are any issues/instructions for this drop-off, please email as soon as possible with any information needed to make a contactless delivery (eg, if an apartment on door is not accessible from the exterior).</span></p>
			<p><span></span></p>
			<p><span>Sincerely,</span></p>
			<p><span>Here2Help</span></p>
			<p><span>[delivery person&#39;s mobile number] (mobile #  for texts) </span></p>
			<p><span></span></p>
			<p><span>To request food again, please sign up at <a href="http://here2helpmc.com" target="_blank">here2helpmc.com</a></span></p>
			<p><span></span></p>
			<p><span>Or if the recipient is indicated to be Spanish speaking:</span></p>
			<p><span></span></p>
			<p><span>Spanish Message:</span><span> </span></p>
			<p><span>Estamos muy contentos de que se haya registrado para dejar una bolsa de comestibles Here2Help. Para asegurar la seguridad de todos y observar las precauciones adecuadas para la pandemia, simplemente dejaremos los comestibles fuera de su puerta (at the address you used to register on-line and listed in the re: line above) between [insert your time range and date, e.g., 5:00 pm to 7:00 pm on Tuesday]. Si hay algún problema/instrucciones para esta entrega, por favor envíe un correo electrónico tan pronto como sea posible con cualquier información necesaria para hacer una entrega sin contacto. </span></p>
			<p><span></span></p>
			<p><span>Para solicitar comida de nuevo, por favor regístrese en </span><span><a href="https://www.google.com/url?q=http://here2helpmc.com/&amp;sa=D&amp;ust=1607008159478000&amp;usg=AOvVaw1XaJfdMvlsOwfaChx2LdKh" target="_blank">here2helpmc.com</a></span></p>
			<p><span></span></p>
			<p><span></span></p>
			<p><span>2) Pick up bags from your grocery bag collection site at [Donation Site Address] . I will tell [Site host name] at [Site host email] to leave the number of bags needed on your trip outside with your name on it tomorrow. </span><span><br><br>On Sundays, all volunteers should also stop by 4814 Falstone Avenue after 4:00, before their deliveries, to add produce and bread to their bags. </span><span>This is essential so all recipients have equal opportunity to receive perishables such as fresh produce and bread. </span></p>
			<p><span></span></p>
			<p><span>3) Wear gloves and masks whenever making deliveries and drop bags outside the door. If the recipient lives in an apartment building, </span><span>you can ask them to come down</span><span> and pick up their bags. Consider having a stock of extra bags in your car in case bags tear or put boxes in your trunk so the bags don&#39;t shift when you turn. [Learned that one the hard way!]</span></p>
			<p><span></span></p>
			<p><span>4) It is appreciated if you would send a text or email to each recipient after returning to your car,  to let them know the grocery delivery is at their door. </span></p>
			<p><span></span></p>
			<p><span>For tomorrow, </span><span>[enter delivery date]</span><span>, the families you are delivering to are: </span></p>
			<p><span></span></p>
			<p><span>[Copy and Paste </span><span>Address and Contact Info</span><span>. Disclose which addresses are </span><span>Spanish Speakers</span><span>.]</span></p>
			<p><span></span></p>
			<p><span>Please email or text me with any questions or concerns! Stay safe. </span></p>
			<p><span></span></p>
			<p><span>Thank you again, </span></p>
			<p><span></span></p>
			<p><span>[Delivery Coordinator name]</span></p>
			<p><span>[Delivery Coordinator cell #]</span></p>
            <p><span></span></p>
            
            <hr/>
            <hr/>
            <hr/>
            Sharon, we can plug any data points from the following into any of the letter above.  We might even give them the emails to send to their customers, preformatted the the addresses, etc.
            Im happy to take a stab at this, but wanted to stop at this point and check in on this overall process to this point.

            <p>&nbsp;<p>
                Driver: {{ driver }}
                <ul>Orders:
                    {% for order in orders %}
                        <li>{{ order }}</li>
                    {% endfor %}
                </ul>
  
            </p>

            

		</div>
	</body>
</html>