{% extends 'base.html' %}
{% load crispy_forms_tags i18n static sekizai_tags shared %}


{% block content %} 

	<div class="card">
		<div class="card-header">
			<span class="display-4">{% trans 'Make a new request.' %}</span>
			<!-- <i class="fas fa-shopping-basket fa-4x text-dark float-right"></i> -->
		</div>
		<div class="card-body">
			<p class="card-text">

                {% crispy form %}

			</p>
		</div>
	</div>

	{% addtoblock "js" %}

	    <script type="text/javascript">

            $(document).ready(function() {


                {% if not form.instance.pk %}
                    {% get_current_language as LANGUAGE_CODE %}
                    $('#id_preferred_language').val('{{ LANGUAGE_CODE }}')
                {% endif %}

                $('#id_schools').select2();
                $('#id_phone').mask('(000) 000-0000');
                $('#id_secondary_phone').mask('(000) 000-0000');
                
                {% for key, value in deliverydays.items %}
                    var $optgroup = $("<optgroup label='&nbsp;'>");
                    {% for deliveryday in value %}
                        $optgroup.append(new Option( '{{ deliveryday.date|friendly_date }}', '{{ deliveryday.pk }}'));
                    {% endfor %}
                    $('#id_deliveryday').append($optgroup);
                {% endfor %}

            });

        </script>
        
        <script src="{% static '/js/jquery.geocomplete.min.js' %}"></script>

     
        
    {% endaddtoblock %}


{% endblock content %}
